.special-gothic-condensed-one-regular {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-style: normal;
}

.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.biz-udgothic-regular {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #7a62b6;
    margin: 0;
    padding: 0;
    height: 100%;      /* Sets the height to the full viewport height */
    width: 100%;       /* Sets the width to the full viewport width */
    overflow: hidden;  /* Prevents all horizontal and vertical scrolling */
    margin-top: 10px;
}

h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 2px;
    font-size: 20px;
    font-family: "Fraunces", serif;
    font-weight: 800;
    letter-spacing: -0.5px;
    padding: 0;
    z-index: -1000;
}

h2 {
  position: absolute;
  color: whitesmoke;
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 450px;
  z-index: -1000;
}

h3 {
  position: absolute;
  color: whitesmoke;
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 30px;
  margin-left: 800px;
  margin-top: 130px;
  z-index: -1000;
}

a {
  position: absolute;
  font-family: "BIZ UDGothic", sans-serif;
  font-style: normal;
  font-size: 25px;
  text-decoration: none;
  margin-left: 30px;
  line-height: 3;
  z-index: 9000;
  color: whitesmoke;



}
.audio-container {
  position: fixed;
}

.audio1:hover, .audio2:hover, .audio3:hover, .audio4:hover, .audio5:hover, .audio6:hover, .audio7:hover, .audio8:hover, .audio9:hover, .audio10:hover, .audio11:hover, .audio12:hover, .audio13:hover, .audio14:hover, .audio15:hover, .audio16:hover, .audio17:hover, .audio18:hover, .audio19:hover, .audio20:hover {
  margin-top: 20px;
  transition: all 1s ease;
}

.audio1, .audio2, .audio3, .audio4, .audio5 {
  position: absolute;
  background-color: rgb(255, 116, 41);
  border-radius: 5px;
  border: black 4pt solid;
  transition: all 1s ease;
}

.audio6, .audio7, .audio8, .audio9, .audio10 {
  position: absolute;
  background-color: rgb(19, 127, 216);
  border-radius: 5px;
  border: black 4pt solid;
  transition: all 1s ease;
}

.audio11, .audio12, .audio13, .audio14, .audio15 {
  position: absolute;
  background-color: rgb(131, 243, 111);
  border-radius: 5px;
  border: black 4pt solid;
  transition: all 1s ease;
}

.audio16, .audio17, .audio18, .audio19, .audio20 {
  position: absolute;
  background-color: rgb(243, 111, 192);
  border-radius: 5px;
  border: black 4pt solid;
  transition: all 1s ease;
}

.audio1, .audio6, .audio11, .audio16 {
  width: 750px;
  height: 750px;
  margin-left: 420px;
  z-index: -1000;
  margin-top: 150px;
}

.audio2, .audio7, .audio12, .audio17 {
  width: 900px;
  height: 900px;
  margin-left: 350px;
  z-index: 200;
  margin-top: 250px;
}

.audio3, .audio8, .audio13, .audio18 {
  width: 1000px;
  height: 1000px;
  margin-left: 300px;
  z-index: 600;
  margin-top: 350px;
}

.audio4, .audio9, .audio14, .audio19 {
  width: 1150px;
  height: 1150px;
  margin-left: 220px;
  z-index: 1000;
  margin-top: 450px;
}

.audio5, .audio10, .audio15, .audio20 {
  width: 1300px;
  height: 1300px;
  margin-left: 150px;
  z-index: 2000;
  margin-top: 550px;
}